[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4.git
[submodule "tools/seL4"]
	path = tools/seL4
	url = https://github.com/moritz-meier/seL4_tools.git
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc.git
[submodule "projects/seL4_libs"]
	path = projects/seL4_libs
	url = https://github.com/seL4/seL4_libs.git
[submodule "projects/seL4runtime"]
	path = projects/seL4runtime
	url = https://github.com/seL4/seL4runtime.git
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = https://github.com/seL4/util_libs.git
[submodule "projects/capdl"]
	path = projects/capdl
	url = https://github.com/seL4/capdl.git
[submodule "projects/camkes-tool"]
	path = projects/camkes-tool
	url = https://github.com/moritz-meier/camkes-tool.git
[submodule "projects/projects_libs"]
	path = projects/projects_libs
	url = https://github.com/seL4/projects_libs.git
